<tr id="<%= dom_id order %>" class="hover:bg-gray-50">
  <td class="my-5 px-6 py-4">
    <%= link_to admin_order_path(order) do  %>
      <div class="text-sm text-gray-500 underline"><%= order.id %></div>
    <% end %>
  </td>
  <td class="my-5 px-6 py-4">
    <div class="text-sm text-gray-500"><%= order.email %></div>
  </td>
  <td class="my-5 px-6 py-4">
    <div class="text-sm text-gray-500"><%= order.address %></div>
  </td>
  <th class="my-5 px-6 py-4">
    <div class="text-sm text-gray-500"><%= order.status %></div>
  </th>
  <td class="my-5 px-6 py-4">
    <div class="text-sm text-gray-500"><%= number_to_currency(order.total) %></div>
  </td>
</tr>
