<tr id="<%= dom_id order %>" class="hover:bg-gray-50">
  <td class="my-5 px-6 py-4">
    <div class="text-sm text-gray-500"><%= order.id %></div>
  </td>
  <td class="my-5 px-6 py-4">
    <div class="text-sm text-gray-500"><%= order.email %></div>
  </td>
  <td class="my-5 px-6 py-4">
    <div class="text-sm text-gray-500"><%= order.address %></div>
  </td>
  <th class="my-5 px-6 py-4">
    <div class="text-sm text-gray-500"><%= order.status %></div>
  </th>
  <td class="my-5 px-6 py-4">
    <div class="text-sm text-gray-500"><%= number_to_currency(order.total) %></div>
  </td>
  <td class="my-5 py-4">
    <%= link_to edit_admin_order_path(order),class:"text-gray-400 hover:text-blue-600" do %>
      <i class="fas fa-edit"></i>
    <% end %>
    <%= link_to admin_order_path(order),class:"text-gray-400 hover:text-green-600" do %>
      <i class="fas fa-eye"></i>
    <% end %>
    <%= button_to admin_order_path(order),method: :delete,data:{turbo_confirm:"Are you sure?"},class:"text-gray-400 hover:text-red-600",form:{class:"inline-block"} do %>
      <i class="fas fa-trash"></i>
    <% end %>
  </td>
</tr>
