<nav class="bg-gray-500 text-white h-screen w-64 flex flex-col shadow-lg">
  <div class="p-4 flex items-center justify-center border-b border-gray-600">
    <h1 class="text-2xl font-bold text-white">Admin Panel</h1>
  </div>
  <div class="flex-grow p-4 flex flex-col space-y-2">
    <%= link_to admin_path, class: "flex items-center p-2 rounded hover:bg-gray-600 transition duration-300" do %>
      <i class="fas fa-chart-line mr-3"></i>
      <span>Dashboard</span>
    <% end %>
    <%= link_to "#", class: "flex items-center p-2 rounded hover:bg-gray-600 transition duration-300" do %>
      <i class="fas fa-users mr-3"></i>
      <span>Users</span>
    <% end %>
    <%= link_to admin_products_path, class: "flex items-center p-2 rounded hover:bg-gray-600 transition duration-300" do %>
      <i class="fab fa-product-hunt mr-3"></i>
      <span>Products</span>
    <% end %>
    <%= link_to admin_categories_path, class: "flex items-center p-2 rounded hover:bg-gray-600 hover:shadow-sm hover:shadow-black transition duration-300" do %>
      <i class="fas fa-clipboard-list mr-3"></i>
      <span>Categories</span>
    <% end %>
    <%= link_to "#", class: "flex items-center p-2 rounded hover:bg-gray-600 hover:shadow-sm hover:shadow-black transition duration-300" do %>
      <i class="fas fa-truck-fast mr-3"></i>
      <span>Orders</span>
    <% end %>
  </div>
  <div class="p-4 border-t border-white-600 shadow-lg">
    <% if admin_signed_in? %>
      <%= link_to destroy_admin_session_path, data: { turbo_method: :delete }, class: "flex items-center p-2 rounded hover:bg-red-600 transition duration-300" do %>
        <i class="fas fa-sign-out-alt mr-3"></i>
        <span>Sign Out</span>
      <% end %>
    <% end %>
  </div>
</nav>