<!DOCTYPE html>
<html>
  <head>
    <title>Ecomm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Add Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-...your-integrity-hash-here..." crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <%= debug(params) %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="flex">
      <aside class="w-64">
        <%= render "layouts/admin_navbar" %>
      </aside>
      <main class="container mx-auto  px-5 flex">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
