<!DOCTYPE html>
<html>
  <head>
    <title>Ecomm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Add Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-...your-integrity-hash-here..." crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body class="bg-white">
    <%= render 'layouts/header' %>
    <%= render 'shared/flash' %>
    <%= render 'shared/cart_notification' %>
    <main class="lg:my-15 md:my-12 my-15">
      <%= yield %>
    </main>
    <div class="">
      <%= debug(params) if Rails.env.development? %>
    </div>
    <%= render 'layouts/footer' %>
    <%= render 'shared/chatbot' %>
    <%= turbo_frame_tag "remote_modal" %>
  </body>
</html>
